.escr-dropdown {
    position: relative;
    max-width: 100%;
}
.escr-dropdown select {
    padding: 6px 36px 6px 15px;
    border: none;
    border-radius: 4px;
    min-height: 32px;
    background-color: var(--background);
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    color: var(--text1);
    position: relative;
    max-width: 100%;
    width: 100%;
}
.escr-dropdown select:disabled {
    cursor: default;
}
.escr-dropdown select[invalid=true] {
    color: var(--text2);
}
.escr-dropdown .escr-chervon-down-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    fill: var(--text1);
}
