.escr-characters-card {
    overflow: hidden;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
    flex-flow: column;
}
.escr-characters-card > * {
    padding-right: 1rem;
}
.escr-characters-card dl {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    gap: 10px;
    margin-bottom: 0;
    color: var(--text1);
    padding-bottom: 1rem;
}
.escr-characters-card dl div {
    display: flex;
    border-radius: 5px;
    height: 24px;
    max-height: 24px;
    align-items: center;
    border: 1px solid var(--background2);
    gap: 0;
    flex-basis: 0 1 auto;
}
.escr-characters-card dl div dt {
    background-color: var(--background2);
    flex-basis: 0 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 24px;
    justify-content: center;
}
.escr-characters-card dl div dt.space-char {
    outline: 1px dashed var(--text1);
    outline-offset: -6px;
}
.escr-characters-card dl div dd {
    flex-basis: 0 1 auto;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
}
