.escr-breadcrumbs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}
.escr-breadcrumbs li:not(.escr-first-crumb)::before {
    content: "/";
    display: inline;
    margin-right: 8px;
}
.escr-breadcrumbs li a {
    font-weight: 600;
    text-decoration-line: underline;
    color: var(--text1);
}
.escr-breadcrumbs li span {
    font-weight: 400;
    text-decoration: none;
    color: var(--text2);
}
