{% extends 'core/search/base.html' %}
{% load i18n bootstrap %}

{% block head_title %}
{% trans "Find and replace in projects" %}
{% endblock %}

{% block title %}
{% trans "Find and replace text in projects" %}
{% endblock %}

{% block extra_form_field %}
<div class="col">{% render_field form.replacement group=True %}</div>
{% endblock %}

{% block action_button %}{% trans "Find" %}{% endblock %}

{% block replacement_button %}
  {% if page_obj and request.GET.replacement %}
    <form method="post" class="inline-form float-right">
      {% csrf_token %}
      <button type="submit" name="apply_replace" value="{% trans 'Replace all' %}" class="btn btn-success">
        {% trans 'Replace all' %}
      </button>
    </form>
  {% endif %}
{% endblock %}

{% block part_title %}
<a
  title="{% trans 'Filter results by this part' %}"
  href="?query={{ request.GET.query }}&project={{ request.GET.project }}&document={{ result.object.line.document_part.document.id }}&part={{ result.object.line.document_part.id }}"
>
  {{ result.object.line.document_part.title }}
</a>
{% endblock %}
