.escr-text-field input {
    background-color: var(--background2);
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
}
.escr-text-field input:disabled {
    color: var(--text3);
    pointer-events: none;
}
.escr-text-field input:invalid,
.escr-text-field input[invalid] {
    border: 1px solid var(--alert);
}
